@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Serif+Display:ital,wght@1,200&family=Open+Sans:wght@300&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    position: fixed;
}
nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;

}
nav .navbar .logo a{
    font-size: 40px;
    text-decoration: none;
    font-weight: bolder;
    color:rgb(236, 138, 10);

}
nav .navbar .menu{
    display: flex;
    position: relative;

}
nav .navbar .menu li{
    list-style: none;
    margin: 0 15px;
    
}
.navbar .menu a{
    font-size: 18px;
    font-weight: 500;
    padding: 6px 0;
    color: rgb(209, 236, 10);
}
.navbar .icons a{
    font-size: 18px;
    margin: 0 6px;
    color: rgb(236, 138, 10);
}

/* about section */



/* Home section styling */
.home{
    height: 100vh;
    width: 100%;
    background: url("images/2.JPG");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'ubuntu, sans-serif';
}
.home .home-content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.home .text-1{
    font-size: 50px;
    margin-bottom: 20px;
    color: rgb(209, 236, 10);
}
.home .text-2{
    font-size: 50px;
    color: rgb(209, 236, 10);

}
.home .button{
    margin: 14px 50px 14px 0;
}
.home .button button{
    outline: none;
    margin-bottom: 150px;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: 400;
    background:#7f93cb; 
    color: rgb(209, 236, 10);
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.4s ease;
}



/* .............................About section styling .......................*/
section{
    padding: 40px;

}
section .content{
    width: 80%;
    margin: 40px auto;
    font-family: Arial, Helvetica, sans-serif;

}
.about .about-details{
    display: flex;
    justify-content: center;
    align-items: center;
}
section .title{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}
section .title span{
    color: #7f93cb;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;


}
.about .about-details .left{
    width: 45%;
}
.about .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}
.about .about-details .right{
    width: 55%;
    
}
section .topic{
    color: #7f93cb;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about-details .right p{
    text-align: justify;
    color: #7f93cb;
}



section .button{
    margin: 16px 0;

}
section .button button{
    outline: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 400;
    background-color: #7f93cb; 
    color: rgb(209, 236, 10);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;

}
section .button button:hover{
    border-color: #7f93cb;
    background-color: white;
    color: #7f93cb;
}

/* ...........................gallery.... */
.gallery{
    background-color: #7f93cb;
}
.gallery .content{
    padding: 40px 0;

}
.gallery .gallery-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

}
.image-gallery > li{
    flex-basis: 350px;
   
}
.image-gallery li img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
}

/* resposive media query css */
@media(max-width: 750px){
    nav .navbar{
        width: 90%;
    }
    nav .navbar .menu{
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        max-width: 400px;
        width: 100%;
        background: rgb(1, 24, 57);
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
    }
    .navbar .icons a{
        display: block;
        font-size: 23px;
        color: rgb(1, 24, 57);
    }
    .navbar .menu li a{
        display: block;
        color: aliceblue;
        font-size: 23px;
        margin: 10px 0 ;
    }


}
